*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(/ASSESTS/Images/party-lights-night-life.gif);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 70vw;
    height: 30vw;
    background-color: gray;
    backdrop-filter: blur(1px);
    box-shadow: 1vw 1vw 1vw black;
    border-radius: 1.5vw;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#numbers{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.numInp{
    width: 15%;
    height: 40%;
    border: 15px red double;
    outline: dashed purple 5px;
    background-color: yellow;
    font-size: 6vw;
    font-size: 6vw;
    text-align: center;
    text-shadow: 2px 2px 1px purple, -2px -2px 1px red;
    color: green;
}
.numInp::selection{
    display: none;
}
#start{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button{
    width: 60vw;
    height: 5vw;
    background-color: red;
    border-radius: 1vw;
    border: 5px solid white;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2vw;
    color: yellow;
    box-shadow: 5px 5px 0px blue, -5px -5px 0px lawngreen;
    cursor: pointer;
}
#congrats{
    width: 80vw;
    height: 80vh;
    background-image: url(/ASSESTS/Images/minions\ cong.gif);
    position: absolute;
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 1vw 1vw 1vw black;
    display: none;
}
#close{
    font-size: 5vw;
    color: red;
    font-weight: bold;
    position: absolute;
    right: 2vw;
    rotate: 45deg;
    cursor: pointer;
    transition: all 0.5s;
}
#close:hover{
    rotate: 405deg;
}
